// from https://github.com/nextflow-io/nextflow/issues/1371#issuecomment-587958867
executor {
	submitRateLimit = '20/s'
	queueSize = 200
	// autoThrottle = true
	// poolSize = 8
	// maxPoolSize = 8
	// maxRetries = 50000
	// keepAlive = '1 min'
	// errorBurstDelay = '1 sec'
	// backOffMinRate = 0
	// backOffFactor = 2
	// rampUpInterval = 100
	// rampUpFactor = 1.2
}

aws{
	client {
		protocol = 'https'
		uploadStorageClass = 'ONEZONE_IA'
		maxErrorRetry = 100
		uploadChunkSize = '100MB'
		uploadMaxAttempts = 10
		uploadRetrySleep = '10 sec'
		// maxConnections = 2 // This seems to be closely tied to uploadMaxThreads - vast differences caused issues for me
		// uploadMaxThreads = 2 // Vary this according to your uploader computer
	}

	batch {
		maxTransferAttempts = 100
		delayBetweenAttempts = 10
		maxParallelTransfers = 10
	}
}
