// from https://github.com/nextflow-io/nextflow/issues/1371#issuecomment-587958867
executor {
	submitRateLimit = '20/s'
	autoThrottle = true
	// poolSize = 8
	queueSize = 2
	// maxPoolSize = 8
	maxRetries = 50000
	keepAlive = '1 min'
	errorBurstDelay = '1 sec'
	backOffMinRate = 0
	backOffFactor = 2
	rampUpInterval = 100
	rampUpFactor = 1.2
}

aws{
	client {
		protocol = 'https'
		uploadStorageClass = 'INTELLIGENT_TIERING'
		maxConnections = 2 // This seems to be closely tied to uploadMaxThreads - vast differences caused issues for me
		maxErrorRetry = 100
		uploadMaxThreads = 2 // Vary this according to your uploader computer
		uploadChunkSize = '100MB' // I have found larger chunk sizes to be more stable
		uploadMaxAttempts = 10
		uploadRetrySleep = '10 sec'
	}

	batch {
		maxTransferAttempts = 100
		delayBetweenAttempts = 1000
		maxParallelTransfers = 2
	}
}